* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section p {
    margin-left: 20px;
    ;
}

section.normal {
    background-color: white;
    color: black;
}

section.normal p {
    padding-left: 10px;
}

section.imagem {
    background-color: rgb(65, 65, 65);
    color: white;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.309);
    padding: 10px;
    padding-left: 10px;
    width: 300px;
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

